/* Colores a usar: https://colorhunt.co/palette/f6f4e6fddb3a52575d41444b */
.bodyIndex {
  background-image: url("https://images.pexels.com/videos/5466776/accounting-money-tax-taxes-5466776.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500;");
}
.bodyIndex .tituloIndex {
  width: 40%;
  margin-left: 30%;
  border-radius: 10px;
  background-color: rgba(180, 180, 180, 0.801);
  padding: 10px;
  text-align: center;
}
.bodyIndex .formularioIngreso {
  width: 40%;
  margin-top: 20px;
  margin-left: 30%;
  border-radius: 10px;
  background-color: rgba(180, 180, 180, 0.801);
  position: absolute;
}
.bodyIndex .formularioIngreso .tituloForm {
  text-align: center;
}
.bodyIndex .formularioRegistro {
  width: 40%;
  margin-top: 20px;
  margin-left: 30%;
  border-radius: 10px;
  background-color: rgba(180, 180, 180, 0.801);
  position: absolute;
}
.bodyIndex .formularioRegistro .tituloForm {
  text-align: center;
}

.bodyMain {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr repeat(2, 3fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-areas: "tougle main" "tougle main" "tougle main";
}
.bodyMain .title-contenido {
  background-color: #d9d9d9;
  text-align: center;
  color: #576F72;
  padding: 10px;
}
.bodyMain .btnAparecerModal {
  width: 98%;
  margin-left: 2%;
}
.bodyMain .contenedorHeader {
  grid-area: tougle;
  width: 100%;
  height: 100vh;
  background-color: #7D9D9C;
}
.bodyMain .contenedorHeader .contenidoLogo {
  padding-top: 10px;
}
.bodyMain .contenedorHeader .contenidoLogo .title-tougle {
  width: 230px;
  height: 100px;
  color: #d9d9d9;
  font-size: 2rem;
  padding-top: 8.5%;
  float: right;
}
.bodyMain .contenedorHeader .contenidoLogo .iconoLogo {
  width: 100px;
  height: 100px;
}
.bodyMain .contenedorHeader .btn-main-tougle {
  color: #d9d9d9;
  text-decoration: none;
  margin-left: 20%;
  width: 300px;
  padding-top: 5px;
}
.bodyMain .contenedorHeader .btnCrearBilletera {
  display: flex;
  flex-direction: row;
}
.bodyMain .contenedorHeader .btnCrearBilletera .title-main-tougle {
  color: #576F72;
  margin-left: 6%;
  padding-top: 30px;
}
.bodyMain .contenedorHeader .btnCrearBilletera .botonIcono {
  background: url("../img/boton-mas.png");
  margin-top: 35px;
  margin-left: 5%;
  height: 32px;
  width: 32px;
}
.bodyMain .contenedorHeader .title-main-tougle {
  color: #576F72;
  margin-left: 20%;
  padding-top: 30px;
}
.bodyMain .contenedorHeader .btn-cerrarSesion {
  float: right;
  color: #d9d9d9;
  background-color: #576F72;
  margin-top: 70%;
  margin-left: 20%;
  margin-right: 20%;
  height: 7vh;
}
.bodyMain main {
  grid-area: main;
  background-color: #d9d9d9;
  height: 100vh;
}
.bodyMain main .grafico {
  width: 300px;
  height: 300px;
  margin-left: 35%;
  padding: 10px;
}
.bodyMain main .btnMostrarGasto {
  color: #576F72;
  background-color: #d9d9d9;
}
.bodyMain main .btnMostrarIngreso {
  color: #d9d9d9;
  background-color: #576F72;
}
.bodyMain main .modalIngresos {
  position: absolute;
  background-color: #ffffff;
  margin-left: 10%;
  padding: 1em 0.5em;
  display: flex;
  flex-direction: column;
  gap: 1.2em;
  width: 25em;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  z-index: 101;
}
.bodyMain main .modalIngresos .btnConfirmarModal {
  color: #d9d9d9;
  background-color: #576F72;
  height: 6vh;
  margin: 20px;
  flex-direction: column;
}
.bodyMain main .modalIngresos .btnCancelarModal {
  color: #576F72;
  background-color: #d9d9d9;
  height: 6vh;
  margin: 20px;
  flex-direction: column;
}
.bodyMain main .modalIngresos .form-group {
  display: flex;
  flex-direction: column;
  width: 90%;
  gap: 5px;
}
.bodyMain main .modalIngresos label {
  font-weight: 500;
}
.bodyMain main .modalIngresos input {
  border: none;
  border: 2px solid #d9d9d9;
  padding: 8px;
  border-radius: 8px;
}
.bodyMain main .modalIngresos input:focus {
  outline: none;
}
.bodyMain main .modalIngresos select {
  border: none;
  padding: 8px;
  border-radius: 8px;
}
.bodyMain main .modalIngresos #new-status {
  width: 10em;
}
.bodyMain main .modalGastos {
  position: absolute;
  background-color: #ffffff;
  margin-left: 10%;
  padding: 1em 0.5em;
  display: flex;
  flex-direction: column;
  gap: 1.2em;
  width: 25em;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  z-index: 101;
}
.bodyMain main .modalGastos .btnConfirmarModal {
  color: #d9d9d9;
  background-color: #576F72;
  height: 6vh;
  margin: 20px;
  flex-direction: column;
}
.bodyMain main .modalGastos .btnCancelarModal {
  color: #576F72;
  background-color: #d9d9d9;
  height: 6vh;
  margin: 20px;
  flex-direction: column;
}
.bodyMain main .modalGastos .form-group {
  display: flex;
  flex-direction: column;
  width: 90%;
  gap: 5px;
}
.bodyMain main .modalGastos label {
  font-weight: 500;
}
.bodyMain main .modalGastos input {
  border: none;
  border: 2px solid #d9d9d9;
  padding: 8px;
  border-radius: 8px;
}
.bodyMain main .modalGastos input:focus {
  outline: none;
}
.bodyMain main .modalGastos select {
  border: none;
  padding: 8px;
  border-radius: 8px;
}
.bodyMain main .modalGastos #new-status {
  width: 10em;
}
.bodyMain main .table {
  width: 96%;
  margin: 0 auto;
}

.active {
  opacity: 1;
  visibility: visible;
  transition: all 0.5s;
}

.desactive {
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
}

/*# sourceMappingURL=styles.css.map */
